@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-mask:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

body > #root {
    width: 100vw;
    height: 100vh;
    
}

body {
    margin: 0px;
    padding: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,.15);
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.30)
}

::-webkit-search-cancel-button{
    display: none; 
}

input[type="search"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0.25rem 0.25rem;
    background-size: 1rem;
    position: relative;
}